<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Projecten</h1>
  <mat-divider></mat-divider>
</div>

<!-- Form -->
<form [formGroup]="projectForm" (ngSubmit)="updateProjectForm()" #resetProjectForm="ngForm" novalidate>
  <mat-card>
    <mat-card-title><h3>Project bewerken</h3></mat-card-title>

    <div fxLayout="row" fxLayout.xs="row" fxFlexFill>
      <div fxFlex="40">
        <!-- Klanten -->
        <mat-form-field class="col-3">
          <mat-label>Klant</mat-label>
          <mat-select [(value)]="selected" formControlName="client_id">
            <mat-option [value]="clientData._id" *ngFor="let clientData of ClientData">{{clientData.business_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('client_id', 'required')">
            Klant is verplicht
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" fxFlexOffset="10px">
        <!-- Projectcode -->
        <mat-form-field class="col-3">
          <input matInput placeholder="Projectcode" formControlName="project_code">
          <mat-error *ngIf="handleError('project_code', 'required')">
            <strong>Projectcode</strong> is verplicht
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="40" fxFlexOffset="10px">
        <!-- Projectname -->
        <mat-form-field class="col-3">
          <input matInput placeholder="Projectnaam" formControlName="project_name">
          <mat-error *ngIf="handleError('project_name', 'required')">
            <strong>Projectnaam</strong> is verplicht
          </mat-error>
        </mat-form-field>

      </div>
    </div>
  </mat-card>

  <!-- Submit & Reset -->
  <mat-card>
    <div class="full-wrapper button-wrapper">
      <div class="button-wrapper">
        <button mat-flat-button color="warn" (click)="cancel()">Annuleren</button>
        <button mat-flat-button color="primary">Update</button>
      </div>
    </div>
  </mat-card>
</form>
