<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>
    <img src="assets/img/mebura_logo.png" class="logo">
  </div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
               [fixedTopGap]>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let menuItem of menuItems" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon>{{menuItem.icon}}</mat-icon> {{menuItem.title}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <mat-nav-list>
                    <a mat-list-item routerLinkActive="active" routerLink="{{child.url}}" *ngFor="let child of menuItem.children">
                      <mat-icon>{{child.icon}}</mat-icon> {{child.title}}
                    </a>
        <!--            <a mat-list-item routerLinkActive="active" routerLink="/clients-list">-->
<!--              <mat-icon>format_list_bulleted</mat-icon> Overzicht klanten-->
<!--            </a>-->
          </mat-nav-list>
        </ng-template>
      </mat-expansion-panel>
<!--      <mat-expansion-panel (opened)="panelOpenState = true"-->
<!--                           (closed)="panelOpenState = false">-->
<!--        <mat-expansion-panel-header>-->
<!--          <mat-panel-title>-->
<!--            <mat-icon>assignment</mat-icon> Projecten-->
<!--          </mat-panel-title>-->
<!--        </mat-expansion-panel-header>-->
<!--        <mat-nav-list>-->
<!--          <a mat-list-item routerLinkActive="active" routerLink="/add-project">-->
<!--            <mat-icon>add</mat-icon> Project toevoegen-->
<!--          </a>-->
<!--          <a mat-list-item routerLinkActive="active" routerLink="/projects-list">-->
<!--            <mat-icon>format_list_bulleted</mat-icon> Overzicht projecten-->
<!--          </a>-->
<!--        </mat-nav-list>-->
<!--      </mat-expansion-panel>-->
    </mat-accordion>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
