html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  justify-content: space-between;
}

.user-profile {
  margin-left: 15px;
}

.mat-sidenav-container {
  height: 100%;
  display: flex;
  flex: 1 1 auto;
}

.mat-nav-list .mat-list-item {
  font-size: 15px;
}

.nav-tool-items {
  display: inline-block;
  margin-right: 13px;
}

.user-profile {
  margin-left: 15px;
  cursor: pointer;
}

.hamburger {
  visibility: hidden !important;
}

.mat-sidenav, .mat-sidenav-content {
  padding: 15px;
}

.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
}

.mat-sidenav-content {
  padding: 25px 40px 0;
}

.mat-sidenav {
  background-color: #F2F2F2;
  width: 250px;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

mat-sidenav mat-icon {
  margin-right: 12px;
}

.hamburger {
  margin-top: 5px;
  cursor: pointer;
}

.mat-radio-button, .mat-radio-group {
  margin-right: 25px;
}

.controllers-wrapper > * {
  width: 100%;
  padding: 0;
}

.misc-bottom-padding {
  margin: 8px 0 10px;
}

.misc-bottom-padding mat-label {
  margin-right: 15px;
  display: block;
  padding-bottom: 10px;
}

mat-radio-group mat-radio-button {
  margin-left: 5px;
}

.button-wrapper button {
  margin-right: 5px;
}

table.mat-table, table {
  width: 100%;
}

.inner-wrapper {
  padding: 15px 0 130px;
  width: 100%;
}

.inner-wrapper mat-card {
  display: inline-block;
  margin: 0 6% 0 0;
  vertical-align: top;
  width: 44%;
}

.full-wrapper {
  width: 100%;
}

.inner-wrapper-full {
  padding: 15px 0 130px;
  width: 100%;
}

.inner-wrapper-full mat-card {
  display: inline-block;
  margin: 0 6% 0 0;
  vertical-align: top;
  width: 100%;
}

.multiple-items {
  position: relative;
}

.multiple-items .tooltip-info {
  right: 0;
  top: 7px;
  cursor: pointer;
  color: #a1a7c7;
  position: absolute;
  font-size: 20px;
}

body .push-right {
  margin-right: 10px;
}

.no-data {
  text-align: center;
  padding-top: 30px;
  color: red;
}

.button-wrapper {
  margin: 20px 0 0 0;
}

.button-wrapper-input {
  margin: 4px 0 0 0;
}

.b-margin {
  margin-bottom: 10px;
}

.vertical-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.mat-radio-button {
  margin-bottom: 15px;
}

.mat-radio-container {
  top: 1px;
}

/*.mat-radio-outer-circle{height: 17px !important; width: 17px !important;}*/
/*.mat-radio-inner-circle{height: 17px !important; width: 17px !important;}*/
/*.mat-radio-button, .mat-radio-ripple, .mat-ripple-element{left: calc(50% - 17px) !important;top: calc(50% - 17px) !important;height: 30px !important;width: 30px !important;}*/
@media (max-width: 1024px) {
  .inner-wrapper mat-card {
    width: 100%;
  }

  .mat-sidenav-content {
    padding: 20px 20px 0;
  }

  .mat-sidenav {
    width: 230px;
  }

  .mat-nav-list .mat-list-item {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .nav-tool-items {
    margin-right: 0;
  }

  .hamburger {
    visibility: visible !important;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.input-small {
  width: 20%;
  display: flex !important;
}

.col-3 {
  width: 30%;
  margin-right: 15px;
}

.col-6 {
  width: 50%;
  margin-right: 15px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  width: 10%;
}

.actions {
  width: 10%;
}

.mat-row:hover {
  background-color: #EBF5FB;
}

.mat-form-field {
  display: inline !important;
}

.mat-table {
  .day, .date, .hours {
    width: 10%;
  }

  .actions {
    width: 8% !important;
  }

  .project {
    width: 20%;
  }

  .description {
    width: 40%;
  }
}

.mat-card {
  margin: 10px 0 10px 0;

  .mat-card-title {
    border-bottom: 1px maroon solid;
  }
}

#timesheetPdf {
  .container {
    width: 100%;
    height: 100%;
    //margin: 50px;
  }

  .header {
    height: 50px;
  }

  .address-container {
    font-family: Arial, Calibri;
    font-size: 9px;

    .address-to {
      width: 50%;
      float: left;
    }

    .address {
      width: 50%;
      float: right;
    }
  }

  .mat-card-image {
    height: 30px !important;
    width: auto;
    margin: 50px 50px 10px 0;
  }

  .border {
    border: 1px solid #ccc;
  }

}
