<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Klant bewerken</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="clientForm" (ngSubmit)="updateClientForm()" #resetClientForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controllers-wrapper">
        <!-- Bedrijfsnaam -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Bedrijfsnaam" formControlName="business_name">
          <mat-error *ngIf="handleError('business_name', 'required')">
            <strong>Bedrijfsnaam</strong> is verplicht
          </mat-error>
        </mat-form-field>

        <!-- E-mailadres administratie -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="E-mailadres administratie" formControlName="finance_email_address">
          <mat-error *ngIf="handleError('finance_email_address', 'required')">
            <strong>E-mailadres</strong> is verplicht
          </mat-error>
        </mat-form-field>

        <!-- Afdeling -->
        <mat-form-field>
          <mat-label>Afdeling</mat-label>
          <mat-select [(value)]="selected" formControlName="department_name">
            <mat-option [value]="departmentArray" *ngFor="let departmentArray of DepartmentArray">{{departmentArray}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('department_name', 'required')">
            Afdeling is verplicht
          </mat-error>
        </mat-form-field>

        <!-- Contactpersoon -->
        <mat-form-field>
          <mat-label>Contactpersoon</mat-label>
          <input matInput placeholder="Contactpersoon" formControlName="person_name">
          <mat-error *ngIf="handleError('person_name', 'required')">
            Contactpersoon is verplicht
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controllers-wrapper">

        <!-- Adres -->
        <mat-form-field class="example-full-width">
          <mat-label>Adres</mat-label>
          <input matInput placeholder="Hoogstraat 2" formControlName="address">
          <mat-error *ngIf="handleError('address', 'required')">
            <strong>Adres</strong> is verplicht
          </mat-error>
        </mat-form-field>

        <!-- Postcode -->
        <mat-form-field class="example-full-width">
          <mat-label>Postcode</mat-label>
          <input matInput placeholder="1234AB" formControlName="zip_code">
          <mat-error *ngIf="handleError('zip_code', 'required')">
            <strong>Postcode</strong> is verplicht
          </mat-error>
        </mat-form-field>

        <!-- Standplaats -->
        <mat-form-field class="example-full-width">
          <mat-label>Standplaats</mat-label>
          <input matInput placeholder="Amsterdam" formControlName="city">
          <mat-error *ngIf="handleError('city', 'required')">
            <strong>Standplaats</strong> is verplicht
          </mat-error>
        </mat-form-field>

      </div>
    </mat-card>

    <mat-card>
      <div class="controllers-wrapper">

        <!-- Inhoud -->
        <div class="misc-bottom-padding">
          <mat-label>Inhoud</mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="invoice_inner" class="vertical-radio-group">
            <mat-radio-button value="week">Op weekbasis</mat-radio-button>
            <mat-radio-button value="project">Op projectbasis</mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- Betalingstermijn -->
        <mat-form-field class="input-small">
          <mat-label>Betalingstermijn</mat-label>
          <input matInput placeholder="Aantal dagen" formControlName="payment_days">
          <mat-error *ngIf="handleError('payment_days', 'required')">
            Betalingstermijn is verplicht
          </mat-error>
        </mat-form-field>

      </div>
    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controllers-wrapper">

        <!-- Start datum -->
        <mat-form-field class="input-small">
          <input matInput readonly [matDatepicker]="picker" placeholder="Start datum" formControlName="start_date"
                 (dateChange)="formatStartDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="handleError('start_date', 'required')">
            Date of birth is required
          </mat-error>
        </mat-form-field>

        <!-- Eind datum -->
        <mat-form-field class="input-small">
          <input matInput readonly [matDatepicker]="pickerEnd" placeholder="Eind datum" formControlName="end_date"
                 (dateChange)="formatEndDate($event)">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>

        <!-- Tarief -->
        <mat-form-field class="input-small">
          <mat-label>Tarief</mat-label>
          <input matInput placeholder="Tarief" formControlName="rate">
          <mat-error *ngIf="handleError('rate', 'required')">
            Tarief is verplicht
          </mat-error>
        </mat-form-field>

      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn" (click)="cancel()">Annuleren</button>
          <button mat-flat-button color="primary">Update</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
